<div class="jumbotron">
<!--
    <h2>Submit your daily commute and adjust your route if needed.</h2>
    <p>Google will calculate your destination time, but you can simply enter your own.</p>
-->
</div>

<div class="container">

    <form name="newRouteForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="newRoute.email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="toWorkAt" class="col-sm-2 control-label">I start at</label>
            <div class="col-sm-10">
                <input type="time" id="toWorkAt" class="form-control" ng-model="newRoute.startTime" placeholder="07:00 AM" required>
            </div>
        </div>
        <div class="form-group">
            <label for="with" class="col-sm-2 control-label">With</label>
            <div class="col-sm-10">
                 <select ng-model="travelMode" ng-init="travelMode='DRIVING'" class="form-control" ng-change="calculateRoute()" required>
                    <option value="DRIVING">Car</option>
                    <option value="WALKING">On foot</option>
                    <option value="BICYCLING">Bicycle</option>
                    <option value="TRANSIT">Public transport</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="fromAddress" class="col-sm-2 control-label">From</label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    g-places-autocomplete 
                    id="fromAddress" 
                    class="form-control" 
                    placeholder="source address" 
                    ng-model="newRoute.fromAddress" 
                    autocomplete="off"
                    required/>
            </div>
        </div>
        <div class="form-group">
            <label for="toAddress" class="col-sm-2 control-label">To</label>
            <div class="col-sm-10">
                <input 
                    type="text" 
                    g-places-autocomplete 
                    class="form-control" 
                    id="toAddress" 
                    placeholder="destination address" 
                    ng-model="newRoute.toAddress" 
                    ng-blur="calculateRoute()"
                    autocomplete="off"
                    required />
            </div>
        </div>
        <div class="form-group">
            <label for="arriveAt" class="col-sm-2 control-label">I arrive at</label>
            <div class="col-sm-10">
                <input type="time" id="arriveAt" class="form-control" ng-model="newRoute.endTime" placeholder="08:00 AM" ng-blur="calculateDuration()" required>
            </div>
        </div>
        <div class="form-group">
            <label for="takesHours" class="col-sm-2 control-label">Which takes</label>
           
            <div class="col-sm-2">
                <input type="text" id="takesHours" class="form-control" ng-model="newRoute.hours"> hour(s)
            </div>
            
            <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="newRoute.minutes"> minute(s)
            </div> 
        </div>
        <div class="form-group">
            <label for="takesHours" class="col-sm-2 control-label">map preview</label>
            <div map-lazy-load="https://maps.google.com/maps/api/js" class="col-sm-10">
                <ng-map center="41,-87" zoom="3">
                    <directions
                        draggable="true"
                        travel-mode="{{travelMode}}"
                        origin="{{newRoute.fromAddress.formatted_address}}"
                        destination="{{newRoute.toAddress.formatted_address}}"
                        on-directions-changed="calculateRoute()">
                    </directions>
                </ng-map>
            </div>
        </div>
        <div class="form-group">
            <label for="distance" class="col-sm-2 control-label">Distance</label>
            <div class="col-sm-2">
                <span>{{map.directionsRenderers[0].directions.routes[0].legs[0].distance.text}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-sm-2 control-label">Note</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="note" placeholder="note" ng-model="newRoute.note" maxlength="200">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-success" ng-click="saveNewRoute()" ng-disabled="newRouteForm.$invalid">
                <input type="button" class="btn btn-default" ng-click="clearRoute()" value="Clear route">
            </div>
        </div>
    </form>

</div>

