<!--
<div class="jumbotron">
  <div class="container">
    
    
  </div>
</div>

<div class="container">
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="address, city" ng-model="routeSearch">
  </div>
  
</div>
-->


<div class="container">
  
  <div class="row marketing">
      <div class="row">
        <div ng-repeat="country in countries" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <a-href="#" ng-click="openCountry(country.$id)">
            <div class="hovereffect">
              <img class="img-responsive img" ng-src="{{::country.photoUrl || 'https://firebasestorage.googleapis.com/v0/b/commutrlist.appspot.com/o/country_default.jpeg?alt=media&token=0c2a67ef-c4f4-4747-bd09-d49050db1137'}}"  alt="">
                <div class="overlay">
                  <h2>{{::country.$id}}</h2>
                  <p> 
                    routes: {{country.numberOfRoutes}}
                  </p> 
                </div>
            </div>
          </a>
        </div>
      </div>
  </div>
  
  
</div>
